<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983952817047-il0cdaq0phmkikufg3gt455scd8nm0ir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983952817047-il0cdaq0phmkikufg3gt455scd8nm0ir</string>
	<key>API_KEY</key>
	<string>AIzaSyB9P-z4EIWH6THMAiZEMJ2MhBCLbusQgWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>983952817047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cadigi.flutterFeedly</string>
	<key>PROJECT_ID</key>
	<string>location-d7e01</string>
	<key>STORAGE_BUCKET</key>
	<string>location-d7e01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983952817047:ios:d99a6f99b70027aacbe2d2</string>
	<key>DATABASE_URL</key>
	<string>https://location-d7e01.firebaseio.com</string>
</dict>
</plist>